body{
  padding:0px;
  margin: 0px;
  background-color: #CECECE;
}

/* The Modal (background) */
.modal ,  .modal_range_list{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content , .modal-content_range_list{
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #888;
  position: relative;
  width: 600px;
  background: white;
  border-radius: 13px;
  text-align: center;
  align-items: center;
}

.modal-content span{
  font-family: 'Segoe UI';
  font-size: 20px;
}
.modal-content input{
  margin-left: 8px;
}

.modal_range_list span{
  font-family: 'Segoe UI';
  font-size: 18px;
}


/* The Close Button */
.close , .close_modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus , .close_modal:hover,.close_modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close_modal{
  transform: rotate(45deg);
}

.sidemenu{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #822e2e;
  overflow: auto;

}

.graphs_content{
  display: grid;
  justify-content: space-around;

}

#not_clicked{
  left: 0;
  transition: 0.5s;
  transition-property: left;
}

#clicked{
  left: -250px;
  transition: 0.5s;
  transition-property: left;
}

.sidemenu_minimizer{
  position: absolute;
  margin-left: 260px;
  margin-top:10px;
  cursor: pointer;
}

.main_content{
  margin-top: 20px;
  position: absolute;
  width: calc(100% - 300px);
  height: calc(100% - 20px);
  left: 300px;
  background-color: #CECECE;
}

.Plot_title{
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  font-size: 40px;
  background-color: white;
  border-radius: 15px;
  color: black;
  font-family: 'Segoe UI';
  cursor:pointer;
}
.Plot_title .alg_title{
  font-weight: lighter;
  font-size: 35px;
}

.Plot_title .trash_icon{
  position: absolute;
  top: 30px;
  right: 10px;
  margin-top: 11px;
  margin-right: 15px;
}

.Plot_title .info_icon{
  position: absolute;
  top: 30px;
  left: 10px;
  margin-top: 11px;
  margin-left: 15px;
  transform: rotate(90deg);
}

.graphOption {
  display: block;
}


.Plot_title .choose_one_dim ,.choose_two_dim , .choose_four_dim{
  position: absolute;
  /* display: block; */
  top: 70px;
  background-color: #822E2E;
  font-size : 25px;
  color : white;
  text-align: left;
  left: 15px;
  margin-top: 11px;
  margin-left: 15px;
  border-radius: 15px;

  /* display: none; */
  width: 0px;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  padding: .5em;
  transition: height .5s, width .5s, padding .5s, visibility .5s ease-out;
}

.graph{
  width: 700px;
  height: 600px;
  background: white;
  margin:20px;
}

.dim4graph{
  margin:20px;
}

.edit_choice{
  font-family: 'Segoe UI';
  font-size: 20px;
  color: white;
  margin: 10px;

}
.choice{
  font-family: 'Segoe UI';
  font-size: 20px;
  color: white;
  margin: 10px;
}

.sidemenu .button{
    display: flex;
    margin:8px;
    font-size: 20px;
    font-family: 'Segoe UI';
    border-radius: 7px;
    border-color: none;
    background: white;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidemenu .button img{
  margin-right: 6px;
}


.Algorithm_chooser{
  display: grid;
  text-align: right;
  justify-content: center;
  /* padding-right: 80px; */
  /* background: gray; */
  border-radius: 15px;
}

.displayerEditor{
  display: grid;
  margin-top: 100px;
  text-align: center;
  border-radius: 10px;
  /* background: gray */
}

.Dimension_selector{
  font-family: 'Segoe UI';
  font-size: 30px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.Dimension_editor{
  display: grid;
  margin-top: 8px;
  margin-bottom: 20px;
}


#settings_title{
  font-size: 30px;
}

.Algorithm_getter{
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
.algorithm_name_changer{
  text-align: center;
  font-size: 20px;
}

.submit_changes_button , .range_change_button{
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: #822E2E;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  cursor: pointer;
}

.dim4graph{
  display: flex
}

.colorbar{
  width: 50;
  height: 500;
  background-color: white;
  margin: 20px
}

.status{
  font-family: 'Segoe UI';
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}

.density_matrix{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 40px;
  justify-items: center;
}
.graphmatrix{
  height: 360px;
  width: 360px;
  background: white;
  margin : 10px
}

#hypervolume , .range_choice_min , .range_choice_max , .range_changer{
  font-family: 'Segoe UI';
  background: white;
  border-radius: 7px;
  text-align: center;
  margin: 20px;
  padding: 5px;
}


.range_changer{
  background: gray;
  color: white;
  cursor: pointer;
}

.range_choice_min , .range_choice_max{
  margin: 0px;;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
}
